<div class="container">
  <form class="character-form" (submit)="submitFormSearch()">
    <div class="form-group">
      <div class="input-group">
        <input
          class="form-control"
          type="text"
          (input)="onSearchNameChange($event.target.value)"
          placeholder="search by name"
        />
        <button type="reset" (click)="onSearchReset()">
          <i class="fa fa-times"></i>
        </button>
      </div>
      <button type="submit" style="display: none">Submit</button>
    </div>
  </form>

  <div class="text-center loader" *ngIf="loading">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div>Veuillez patienter...</div>
  </div>

  <div *ngIf="!loading">
    <div class="row text-center">
      <div class="col">{{ displayResult() }}</div>
    </div>
    <div class="row">
      <div *ngFor="let char of characters" class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3">
        <div class="card character-card">
          <img class="card-img-top" [src]="char.picture" alt="{{ char.name }}" />
          <div class="card-body">
            <h5 class="card-title">{{ char.name }}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center" *ngIf="pagination.total">
    <ngb-pagination
      [collectionSize]="pagination.total"
      [(page)]="pagination.page"
      [maxSize]="pagination.maxSize"
      [rotate]="true"
      [boundaryLinks]="true"
      [directionLinks]="false"
      (pageChange)="changePage($event)"
      [disabled]="loading"
    ></ngb-pagination>
  </div>
</div>
