<div class="container">
  <div class="text-center loader" *ngIf="loading">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div>Veuillez patienter...</div>
  </div>

  <div *ngIf="pagination.total && !loading">
    <div class="row">
      <div *ngFor="let char of characters" class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3">
        <div class="card">
          <img class="card-img-top" [src]="char.picture" alt="{{ char.name }}" />
          <div class="card-body">
            <h5 class="card-title">{{ char.name }}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <ngb-pagination
      [collectionSize]="pagination.total"
      [(page)]="pagination.page"
      [maxSize]="pagination.maxSize"
      [rotate]="true"
      [boundaryLinks]="true"
      [directionLinks]="false"
      (pageChange)="changePage($event)"
      [disabled]="loading"
    ></ngb-pagination>
  </div>
</div>
